<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- 载入JDBC配置文件 -->
    <bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
            <list>
                <value>WEB-INF/config/jdbc.properties</value>
                <value>WEB-INF/config/app.properties</value>
            </list>
		</property>
	</bean>
	<!-- 配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${user}" />
		<property name="password" value="${password}" />
		<property name="initialSize" value="60" />
		<property name="maxActive" value="100" />
		<property name="maxIdle" value="50" />
		<property name="minIdle" value="10" />
	</bean>
	<!-- 配置JDBC模板 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- 配置JDBC事物管理 -->
    <bean id="transactionManager"   
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- 采用@Transactional注解方式使用事务 -->  
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" isolation="DEFAULT" read-only="false"/>
            <tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT" read-only="false"/>  
            <tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT" read-only="false"/>  
            <tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT" read-only="false"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:advisor pointcut="execution(* *..Service.*(..))"
            advice-ref="txAdvice" />
    </aop:config>
    
	<!-- 使Spring自动扫描组件，Controller、Service、Dao -->
    <context:component-scan base-package="com.neusoft.avnc.portalTest.controller"/>
    <context:component-scan base-package="com.neusoft.avnc.portalTest.service"/>
    <context:component-scan base-package="com.neusoft.avnc.portalTest.repository"/>
    
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
          <property name="prefix" value="/theme/"/>
          <property name="suffix" value=".jsp" />
    </bean>
    <!-- 注入系统设置 -->
    <bean id="appProperties" class="com.neusoft.avnc.portalTest.domain.AppProperties">
        <property name="theme" value="${app.theme}"/>
    </bean>
</beans>